<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests" thread-count="2">
    <listeners>
        <listener class-name="org.uncommons.reportng.HTMLReporter"></listener>
        <listener class-name="org.uncommons.reportng.JUnitXMLReporter"></listener>
        <listener class-name="com.imooc.util.TestCaseReport"></listener>
        <listener class-name="com.imooc.web.TestngListennerSendEmail"></listener>
    </listeners>
    <!--抽取公共参数放到 suite下-->
    <parameter name="browser" value="chrome"/>
    <test name="test1">
        <parameter name="username" value="625707127@qq.com"/>
        <parameter name="password" value="5211314hzy...."/>
        <parameter name="url" value="https://www.imooc.com"/>
        <classes>
            <!--classd代表需要运行的类-->
            <class name="com.imooc.runcase.LoginCase">
                <methods>
                    <include name="TestLoginEmailError"/>
                    <!--exclude   不执行改测试case-->
                    <exclude name="TestLoginSucess"/>
                </methods>
            </class>
        </classes>
    </test>
    <test name="test2">
        <parameter name="url" value="https://coding.imooc.com/class/303.html"/>
        <parameter name="coursename" value="剑指Java面试-Offer直通车"/>
        <parameter name="browser" value="Firefox"/>
        <classes>
            <!--classd代表需要运行的类-->
            <class name="com.imooc.runcase.CourseCase">
                <methods>
                    <include name="TestAleradyAdd"/>
                    <exclude name="TestAleradyBuy"/>
                    <exclude name="TestAleradyLogin"/>
                </methods>
            </class>
        </classes>
    </test>

    <!--<test name="Sureorder">-->
        <!--<parameter name="url" value="https://order.imooc.com/pay/confirm/goods_ids/1-315"/>-->
        <!--<classes>-->
            <!--&lt;!&ndash;classd代表需要运行的类&ndash;&gt;-->
            <!--<class name="com.imooc.runcase.SureSubmitCase">-->
                <!--<methods>-->
                    <!--<include name="LoginSureSubmit"/>-->
                    <!--<include name="aSureSubmit"/>-->
                <!--</methods>-->
            <!--</class>-->
        <!--</classes>-->
    <!--</test>-->
</suite>